.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1;
  background-color: #dedede;
}

.user-input-container {
  position: relative;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.user-input input {
  font-size: 14px;
}

.user-input button {
  margin-left: 4px;
  border-radius: 8px;
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.user-input button[disabled] {
  opacity: .2;
}

.user-input-container .solution {
  margin: 6px;
}

#network-requests {
  flex: 1;
  width: 100%;
  background-color: beige;
  border-top: 1px solid black;
  overflow-y: scroll;
  max-height: 35vh;
  font-size: 10px;
}

/* Spinner overrides */
.user-input-container > .solution > div {
  display: inline;
}